.controls {
  position: fixed;
  bottom: 0;
  width: 80%;
  height: 20vh;
  background-color: #fff;
  left: 10%;
  z-index: 1000;
  padding: 20px;
}

.controls .camera-controller {
  height: 50px;
  background-color: #00aeee;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  margin: 10px;
}

.logo {
  position: fixed;
  top: 10px;
  left: 50px;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
}